<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateParentage</servlet-name>
        <servlet-class>Controller.CreateParentage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateParentageInfo</servlet-name>
        <servlet-class>Controller.UpdateParentageInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Parentage_Treeview</servlet-name>
        <servlet-class>Controller.Parentage_Treeview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateParentage</servlet-name>
        <url-pattern>/CreateParentage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateParentageInfo</servlet-name>
        <url-pattern>/UpdateParentageInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Parentage_Treeview</servlet-name>
        <url-pattern>/Parentage_Treeview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
